*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100vh;
  color: #fff;
  background-color: #5d5d5d;
  font-family: "Roboto", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title,
.timer {
  font-size: 16rem;
}

.btn-container {
  margin-top: 8rem;
}

.btn {
  font-size: 4rem;
  padding: 1rem 8rem;
  color: inherit;
  border: none;
  border-radius: 0.5rem;
  margin-right: 4rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-0.5rem);
}

.btn-start {
  background-color: #5ebd00;
}
.btn-pause {
  background-color: #00a7a7;
}
.btn-reset {
  background-color: #bb3200;
  margin-left: 0;
}
